<div class="container">
  <h1>Catálogo de Filmes</h1>

  {{#if mostrarMensagem}}
    <p class="info">Confira a lista de filmes abaixo!</p>
    <ul class="filmes-lista">
      {{#each filmes}}
        <li class="filme-item {{#if assistido}}assistido{{else}}nao-assistido{{/if}}">
          <span class="titulo">{{titulo}}</span>
          <span class="ano">({{ano}})</span>
          {{#if assistido}}
            <span class="badge badge-verde">Assistido</span>
          {{else}}
            <span class="badge badge-vermelho">Não assistido</span>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Nenhum filme cadastrado.</p>
  {{/if}}

  <button id="alertBtn">Clique e veja uma dica</button>
</div>